.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(var(--color-text-primary), 0.4);
  cursor: pointer;
  transition: all 0.35s ease;
  padding: 2px 4px;
  border-radius: 4px;

  &:hover {
    background: rgba(var(--color-text-primary), 0.1);
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }

  .button__prepend-icon {
    margin-right: 4px;
  }

  .button__append-icon {
    margin-left: 4px;
  }

  .button__text {
  }

  &--save {
    background: rgb(var(--color-primary));
    color: rgb(var(--color-text-primary));
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    &:hover {
      background: rgba(var(--color-primary), 0.8);
    }
  }

  &--icon {
    .button__prepend-icon,
    .button__append-icon {
      margin: 0;
    }
  }
  &--big-icon{
      .button__icon {
    width: 24px;
    height: 24px;
  }
  }
}
