.checkbox {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  color: rgb(var(--color-text-primary));
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &.checkbox--priority-0 {
    color: rgb(var(--color-text-primary), 0.4);
  }

  &.checkbox--priority-1 {
    color: rgb(var(--priority-1));
  }

  &.checkbox--priority-2 {
    color: rgb(var(--priority-2));
  }

  &.checkbox--priority-3 {
    color: rgb(var(--priority-3));
  }

  .checkbox__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease;
  }

  .checkbox__main {
    opacity: 1;
    visibility: visible;
  }
  &.completed {
    .checkbox__item {
      opacity: 0;
      visibility: hidden;
    }
    .checkbox__completed {
      opacity: 1;
      visibility: visible;
    }
  }
}
