.priority {
  position: relative;

  &.active {
    .priority__list {
      display: block;
    }
  }

  .priority__btn {
  }

  .priority__list {
    position: absolute;
    background-color: rgba(var(--color-main-bg), 1);
    border: 2px solid rgba(var(--color-border), 0.1);
    border-radius: 4px;
    padding: 6px;
    z-index: 100;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    display: none;
  }

  .priority__item {
    margin-bottom: 4px;
    cursor: pointer;
    transition: all 0.35s ease;
    padding: 2px;

    &:hover {
      background: rgba(var(--color-text-primary), 0.1);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.priority-0 {
  }
  &.priority-1 {
  }
  &.priority-2 {
  }
  &.priority-3 {
  }
}
