.sign-out {
  padding: 10px 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity ease 0.35s;
  cursor: pointer;
  margin-top: auto;

  &:hover {
    opacity: 1;
  }
}
