.move-list {
  position: relative;

  .move-list__lists {
    position: absolute;
    background-color: rgba(var(--color-main-bg) / 100%);
    border: 2px solid rgba(var(--color-border) / 10%);
    border-radius: 4px;
    z-index: 100;
    bottom: -10px;
    right: -12px;
    transform: translate(0, 100%);
    display: none;
    width: max-content;
    max-width: 150px;
    padding: 8px 0;
    max-height: 170px;
    overflow: scroll;

    &.top {
      bottom: auto;
      top: -12px;
      transform: translate(0, -100%);
    }

    &.left {
      right: auto;
      left: 0;
    }
  }

  .move-list__item {
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.35s ease;
    padding: 8px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: rgba(var(--color-text-primary) / 10%);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.active {
    .move-list__lists {
      display: block;
    }
  }
}
