.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: auto;

  @include media-up(960px) {
    border-right: 2px solid rgba(var(--color-border), 0.1);
  }

  .main__header {
    padding: 16px 20px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .main__collapse {
    color: rgba(var(--color-text-primary), 0.6);
    margin-right: 12px;
  }

  .main__title {
    color: rgba(var(--color-text-primary), 0.6);
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  .main__create {
    margin: 0 20px 12px;
    position: relative;
    z-index: 2;
  }

  .main__create-input {
    width: 100%;
    padding: 12px 142px 12px 12px;
    background: rgba(var(--color-text-primary), 0.05);
    color: rgb(var(--color-text-primary));
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.35s ease;

    &:focus {
      border-color: rgb(var(--color-primary));
    }
  }

  .main__create-additional {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    .divider {
      margin: 0 8px;
      height: auto;
    }
  }
  .main__tasks {
    margin: 0 20px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      padding: 0 12px;
      height: 36px;
      .divider {
        margin: auto 8px;
        height: 12px;
      }
    }

    &-block {
      &.empty {
        padding: 32px 0;
        text-align: center;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.15s ease;
      position: relative;
      border-left: 2px solid transparent;

      &:after {
        content: '';
        width: calc(100% - 44px);
        height: 1px;
        background: rgba(var(--color-border), 0.05);
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.15s ease;
      }
      &:hover {
        background: rgba(var(--color-text-primary), 0.05);

        &:after {
          opacity: 0;
        }

        .main__tasks-delete {
          opacity: 1;
          visibility: visible;
        }
      }

      &.active {
        background: rgba(var(--color-text-primary), 0.2);
      }
    }
    &-checkbox {
      margin-right: 8px;
    }
    &-name {
      margin-right: 12px;
    }
    &-delete {
      margin-left: auto;
      opacity: 0;
      visibility: hidden;
      transition: all 0.15s ease;
    }
  }
}
