.menu {
  .menu__item {
    padding: 10px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    transition: opacity ease 0.35s;
    cursor: pointer;

    &.active {
      opacity: 0.6;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
