.sidebar {
  width: 260px;
  border-right: 2px solid rgba(var(--color-border) / 10%);
  color: rgba(var(--color-text-primary) / 40%);
  flex-shrink: 0;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transition: all 0.35s ease;
  background: rgb(var(--color-left-sidebar-bg));
  height: 100vh;
  padding: 14px 0;

  @include media-up(640px) {
    display: none;
    position: relative;
    transform: translateX(0);
    transition: initial;
  }

  &.active {
    transform: translateX(0);

    @include media-up(480px) {
      left: 50px;
    }

    @include media-up(640px) {
      display: block;
      position: relative;
      left: 0;
    }
  }

  .sidebar__wrap {
    overflow-y: auto;
    height: 100%;
  }

  .sidebar__section {
    padding: 0;
  }

  .sidebar__filter {
    &-item {
      padding: 0 8px;
      height: 40px;
    }

    &-button {
      width: 100%;
      padding: 0 8px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      transition: all 0.35s ease;
      cursor: pointer;
      color: rgba(var(--color-text-primary) / 80%);

      &:hover {
        background: rgba(var(--color-border) / 10%);
      }

      &.active {
        background: rgba(var(--color-border) / 20%);
      }
    }

    &-icon {
      margin-right: 4px;
      width: 20px;
      height: 20px;
      color: rgba(var(--color-text-primary) / 40%);
    }

    &-name {
      margin-right: 12px;
    }

    &-count {
      margin-left: auto;
    }
  }

  .sidebar__lists {
    position: relative;

    &-header {
      padding: 0 8px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      cursor: pointer;
      color: rgba(var(--color-text-primary) / 50%);
      margin-bottom: 4px;
    }

    &-title {
      margin-right: 12px;
    }

    &-add {
      margin-left: auto;
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.35s ease;
      cursor: pointer;

      &:hover {
        background: rgba(var(--color-border) / 10%);
      }
    }

    &-add-icon {
      width: 18px;
      height: 18px;
    }

    &-item {
      padding: 0 8px;
      height: 40px;
      position: relative;
    }

    &-icon {
      margin-right: 4px;
      width: 20px;
      height: 20px;
      color: rgba(var(--color-text-primary) / 40%);
    }

    &-name {
      margin-right: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-color {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 12px;
      display: block;
    }

    &-count {
      min-width: 16px;
      text-align: right;
    }

    &-info {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-actions {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      opacity: 0;
      visibility: hidden;
    }

    &-edit {
      color: rgb(var(--color-text-primary) / 60%);
      margin-right: 4px;
      cursor: pointer;

      &:hover {
        color: rgb(var(--color-text-primary) / 80%);
      }
    }

    &-delete {
      color: rgb(var(--color-text-primary) / 60%);
      cursor: pointer;

      &:hover {
        color: rgb(var(--color-text-primary) / 80%);
      }
    }

    &-button {
      width: 100%;
      padding: 0 8px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      transition: all 0.35s ease;
      cursor: pointer;
      color: rgba(var(--color-text-primary) / 80%);

      &:hover {
        background: rgba(var(--color-border) / 10%);

        .sidebar__lists-info {
          opacity: 0;
        }

        .sidebar__lists-actions {
          opacity: 1;
          visibility: visible;
        }
      }

      &.active {
        background: rgba(var(--color-border) / 20%);
      }
    }
  }

  .sidebar__dragger {
    display: none;

    @include media-up(640px) {
      display: block;
    }
  }
}
