.sidebar {
  width: 260px;
  height: 100vh;
  flex-shrink: 0;
  border-right: 2px solid rgba(var(--color-border), 0.1);
  color: rgba(var(--color-text-primary), 0.4);
  flex-shrink: 0;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transition: all 0.35s ease;
  background: rgb(var(--color-left-sidebar-bg));
  height: 100%;
  padding: 14px 0;

  @include media-up(640px) {
    display: none;
    position: relative;
    transform: translateX(0);
    transition: initial;
  }

  &.active {
    transform: translateX(0);

    @include media-up(480px) {
      left: 50px;
    }

    @include media-up(640px) {
      display: block;
      position: relative;
      left: 0;
    }
  }
  .sidebar__wrap {
    overflow-y: auto;
    height: 100vh;
  }

  .sidebar__section {
    padding: 0;
  }

  .sidebar__filter {
    &-list {
    }
    &-item {
      padding: 0 8px;
      height: 40px;
    }
    &-button {
      width: 100%;
      padding: 0 8px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      transition: all 0.35s ease;
      cursor: pointer;
      color: rgba(var(--color-text-primary), 0.8);

      &:hover {
        background: rgba(var(--color-border), 0.1);
      }

      &.active {
        background: rgba(var(--color-border), 0.2);
      }
    }
    &-icon {
      margin-right: 4px;
      width: 20px;
      height: 20px;
      color: rgba(var(--color-text-primary), 0.4);
    }
    &-name {
      margin-right: 12px;
    }
    &-count {
      margin-left: auto;
    }
  }

  .sidebar__lists {
    &-header {
      padding: 0 8px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      cursor: pointer;
      color: rgba(var(--color-text-primary), 0.5);
      margin-bottom: 4px;
    }

    &-title {
      margin-right: 12px;
    }

    &-add {
      margin-left: auto;
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.35s ease;
      cursor: pointer;
      &:hover {
        background: rgba(var(--color-border), 0.1);
      }
    }

    &-add-icon {
      width: 18px;
      height: 18px;
    }

    &-list {
    }

    &-item {
      padding: 0 8px;
      height: 40px;
    }

    &-button {
      width: 100%;
      padding: 0 8px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 4px;
      transition: all 0.35s ease;
      cursor: pointer;
      color: rgba(var(--color-text-primary), 0.8);

      &:hover {
        background: rgba(var(--color-border), 0.1);
      }

      &.active {
        background: rgba(var(--color-border), 0.2);
      }
    }

    &-icon {
      margin-right: 4px;
      width: 20px;
      height: 20px;
      color: rgba(var(--color-text-primary), 0.4);
    }

    &-name {
      margin-right: 12px;
    }

    &-color {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: yellowgreen;
      margin-left: auto;
      margin-right: 12px;
    }

    &-count {
    }
  }
  .sidebar__dragger {
    display: none;
    @include media-up(640px) {
      display: block;
    }
  }
}
